
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Australian Saying Translator</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Australian Saying Translator</h1>
<p>This application helps you translate Australian sayings and expressions into Dutch.</p>
<p>To get started, click the "Add Saying" button below.</p>
<a href="/add_saying" class="btn btn-primary">Add Saying</a>
</div>
</body>
</html>


